In [1]:
import pandas as pd
import mysql.connector
import pymysql

In [2]:
import numpy as np

Carga de archivos limpios a SQL

In [12]:


connection = mysql.connector.connect(user='root', password='root1234',
                              host='localhost',
                              database='homicidios_a')

df = pd.read_excel('D:/Users/Natalia/Desktop/PI02/homicidios .xlsx', sheet_name='HECHOS')

cursor = connection.cursor()
# Reemplazar 'SD' por valores nulos en el DataFrame
df.replace('SD', None, inplace=True)
df.fillna('', inplace=True)
df['HH'] = df['HH'].replace('', -1, inplace=True) 

for i, row in df.iterrows():
    # Correcci贸n: Agrega comillas simples alrededor del marcador de posici贸n %s
    sql = "INSERT INTO hechos VALUES (" + "%s,"*(len(row)-1) + "%s)"
    
    cursor.execute(sql, tuple(row))

connection.commit()

print('Todo correcto')

Todo correcto

In [25]:
connection = mysql.connector.connect(user='root', password='root1234',
                              host='localhost',
                              database='homicidios_a')

df = pd.read_excel('D:/Users/Natalia/Desktop/PI02/victimas.xlsx', sheet_name='victimas')

cursor = connection.cursor()

# Reemplazar valores 'nan' por None en el DataFrame
df = df.where(pd.notna(df), None)

for i, row in df.iterrows():
    # Correcci贸n: Agrega comillas simples alrededor del marcador de posici贸n %s
    sql = "INSERT INTO victimas VALUES (" + "%s,"*(len(row)-1) + "%s)"
    
    cursor.execute(sql, tuple(row))

connection.commit()

print('Todo correcto')

Todo correcto