In [1]:
import pandas as pd
import numpy as np

In [17]:
# Leer la primera hoja del archivo XLSX
df_hechos = pd.read_excel('homicidios - copia.xlsx', sheet_name='HECHOS')

In [ ]:
df_hechos= df_hechos.drop('Altura', axis=1)

Se elimina la columna 'Altura' por ser inecesaria ya que sus datos estan en la columna 'Direccion Normalizada'

In [4]:
df_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Cruce                  525 non-null    object
 12  Dirección Normalizada  688 non-null    object
 13  COMUNA                 696 non-null    int64
 14  XY (CABA)              696 non-null    object
 15  pos x                  696 non-null    object
 16  pos y                  696 non-null    object
 17  PARTICIPANTES          696 non-null    object
 18  VICTIMA                696 non-null    object
 19  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), int64(5), object(14)
memory usage: 108.9+ KB

In [22]:
valores_a_reemplazar = ['', 'SD']  

#
df_hechos = df_hechos.replace(valores_a_reemplazar, np.nan)

In [12]:
df_hechos.to_excel('hechos.xlsx', sheet_name='HECHOS', index=False)

Se reemplazan los valores vacios y SD por nulos y se guerda nuevamente el archivo

In [21]:

# Leer la segunda hoja del archivo XLSX
df_victimas = pd.read_excel('homicidios .xlsx', sheet_name='VICTIMAS')

In [24]:
df_victimas = df_victimas.replace(valores_a_reemplazar, np.nan)

In [25]:
df_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19.0,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70.0,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30.0,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18.0,NaN
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29.0,2016-02-01 00:00:00

In [27]:
df_victimas['EDAD'] = df_victimas['EDAD'].fillna(-1)  # Reemplazar NaN con -1
df_victimas['EDAD'] = df_victimas['EDAD'].astype(int)  # Convertir a enteros después de reemplazar NaN

In [32]:
df_victimas['FECHA_FALLECIMIENTO'] = df_victimas['FECHA_FALLECIMIENTO'].fillna(-1)

In [35]:
df_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,-1
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [34]:
from datetime import datetime

2019-03-26

In [39]:
# Supongamos que tu DataFrame se llama df_victimas y la columna es 'FECHA_FALLECIMIENTO'
df_victimas['FECHA_FALLECIMIENTO'] = df_victimas['FECHA_FALLECIMIENTO'].replace('-1', np.nan)
df_victimas['FECHA_FALLECIMIENTO'] = pd.to_datetime(df_victimas['FECHA_FALLECIMIENTO'], errors='coerce', format='%d/%m/%Y').dt.strftime('%Y-%m-%d')

print(df_victimas['FECHA_FALLECIMIENTO'])  # Muestra la columna de fecha actualizada

0      2016-01-01
1      2016-01-02
2      2016-01-03
3             NaN
4      2016-02-01
          ...
712    2021-12-12
713    2021-12-18
714    2021-12-20
715    2022-01-02
716    2021-12-20
Name: FECHA_FALLECIMIENTO, Length: 717, dtype: object

Se trasformasn los valoeres vacios y SD a -1 en EDAD y FECHA_FALLECEIMIENTO

In [40]:
df_victimas.to_excel('victimas.xlsx', sheet_name='victimas', index=False)

Ya con los archivos limppios se los pasa a SQL